@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {

    --material-color-red: #f44336;
    --material-color-red-50: #ffebee;
    --material-color-red-100: #ffcdd2;
    --material-color-red-200: #ef9a9a;
    --material-color-red-300: #e57373;
    --material-color-red-400: #ef5350;
    --material-color-red-500: var(--material-color-red);
    --material-color-red-600: #e53935;
    --material-color-red-700: #d32f2f;
    --material-color-red-800: #c62828;
    --material-color-red-900: #b71c1c;
    --material-color-red-a100: #ff8a80;
    --material-color-red-a200: #ff5252;
    --material-color-red-a400: #ff1744;
    --material-color-red-a700: #d50000;

    --material-color-light-blue: #03a9f4;
    --material-color-light-blue-50: #e1f5fe;
    --material-color-light-blue-100: #b3e5fc;
    --material-color-light-blue-200: #81d4fa;
    --material-color-light-blue-300: #4fc3f7;
    --material-color-light-blue-400: #29b6f6;
    --material-color-light-blue-500: var(--material-color-light-blue);
    --material-color-light-blue-600: #039be5;
    --material-color-light-blue-700: #0288d1;
    --material-color-light-blue-800: #0277bd;
    --material-color-light-blue-900: #01579b;
    --material-color-light-blue-a100: #80d8ff;
    --material-color-light-blue-a200: #40c4ff;
    --material-color-light-blue-a400: #00b0ff;
    --material-color-light-blue-a700: #0091ea;

    --material-color-light-green: #8bc34a;
    --material-color-light-green-50: #f1f8e9;
    --material-color-light-green-100: #dcedc8;
    --material-color-light-green-200: #c5e1a5;
    --material-color-light-green-300: #aed581;
    --material-color-light-green-400: #9ccc65;
    --material-color-light-green-500: var(--material-color-light-green);
    --material-color-light-green-600: #7cb342;
    --material-color-light-green-700: #689f38;
    --material-color-light-green-800: #558b2f;
    --material-color-light-green-900: #33691e;
    --material-color-light-green-a100: #ccff90;
    --material-color-light-green-a200: #b2ff59;
    --material-color-light-green-a400: #76ff03;
    --material-color-light-green-a700: #64dd17;

    --material-color-orange: #ff9800;
    --material-color-orange-50: #fff3e0;
    --material-color-orange-100: #ffe0b2;
    --material-color-orange-200: #ffcc80;
    --material-color-orange-300: #ffb74d;
    --material-color-orange-400: #ffa726;
    --material-color-orange-500: var(--material-color-orange);
    --material-color-orange-600: #fb8c00;
    --material-color-orange-700: #f57c00;
    --material-color-orange-800: #ef6c00;
    --material-color-orange-900: #e65100;
    --material-color-orange-a100: #ffd180;
    --material-color-orange-a200: #ffab40;
    --material-color-orange-a400: #ff9100;
    --material-color-orange-a700: #ff6d00;

    --material-color-grey: #9e9e9e;
    --material-color-grey-50: #fafafa;
    --material-color-grey-100: #f5f5f5;
    --material-color-grey-200: #eee;
    --material-color-grey-300: #e0e0e0;
    --material-color-grey-400: #bdbdbd;
    --material-color-grey-500: var(--material-color-grey);
    --material-color-grey-600: #757575;
    --material-color-grey-700: #616161;
    --material-color-grey-800: #424242;
    --material-color-grey-900: #212121;

    --material-color-blue-grey: #607d8b;
    --material-color-blue-grey-50: #eceff1;
    --material-color-blue-grey-100: #cfd8dc;
    --material-color-blue-grey-200: #b0bec5;
    --material-color-blue-grey-300: #90a4ae;
    --material-color-blue-grey-400: #78909c;
    --material-color-blue-grey-500: var(--material-color-blue-grey);
    --material-color-blue-grey-600: #546e7a;
    --material-color-blue-grey-700: #455a64;
    --material-color-blue-grey-800: #37474f;
    --material-color-blue-grey-900: #263238;

    --color-alive: var(--material-color-light-green-500);
    --color-dead: var(--material-color-grey-50);

    --space-base: 8px;

    --cell-size: calc(var(--space-base) * 2);
    --border-radius: calc(var(--space-base) / 2);
}

body {
    font-family: "Noto Sans Display", sans-serif;
}
