.root {

    display: inline-block;
    flex-direction: column;
    overflow: hidden;

    border-radius: var(--border-radius);
    border: 1px solid var(--material-color-grey-200);
    row-gap: 1px;
    background: var(--material-color-grey-300);
}

.row {
    display: flex;
    gap: 1px;
}

.row + .row {
    border-top: 1px solid var(--material-color-grey-300);
}